.entry-buttons {
  margin-right: 5px;
}

.main-entry-container {
  margin-top: 10px;
  word-wrap: break-word;
}

.entry-text-container {
  border-style: solid;
  background-color: rgba(255, 255, 255, 0.3);
}

.entry-fields {
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 0;
  width: 70%;
}

.form-container {
  background-color: rgba(176, 176, 176, 0.74);
  border-style: solid;
  padding: 20px;
}

.page-title {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  padding-left: 20%;
}

.select-field {
  border-radius: 25px;
  margin-bottom: 15px;
  margin-top: 0;
}
