.app-title {
  font-family: 'Shrikhand', cursive;
  font-size: 60px;
  margin-top: 100px;
}

.center {
  text-align: center;
}

.devise-links {
  color: rgb(0, 0, 0);
}

.link-container {
  margin-top: 30px;
}

.log-title {
  font-family: 'Shrikhand', cursive;
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.my-labels {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.my-fields {
  border-radius: 25px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 50%;
}
